section.about-section
  .wrapper
    .about-section__container
      img.about-section__img-left(src="images/about-section-img-left.png" loading="lazy" width="542" height="740" alt="image")
      img.about-section__img-right(src="images/about-section-img-right.png" loading="lazy" width="432" height="694" alt="image")
      h2.about-section__title.font-w-bold.font-s-42.text-up
        | 9 лет успешной работы
      .about-section__box
        ul.about-section__text
          li.font-s-20
            | Компания “Черный Кот” на протяжении 9 лет занимается организацией и 
            br.no-br-xxl
            | проведением квестов в реальности, праздничных мероприятий и 
            br.no-br-xxl
            | корпоративов.
          li.font-s-20
            | Мы работаем как в локациях квест-клуба “Черный кот”, так и на площадках 
            br.no-br-xxl
            | наших заказчиков, обеспечивая праздники “Под ключ”.
          li.font-s-20
            | Наша команда накопила большой опыт в сфере ивент-бизнеса и поэтому мы с 
            br.no-br-xxl
            | радостью приглашаем вас стать нашими партнерами.
        img.about-section__img(src="images/about-section-img.jpg" loading="lazy" width="760" height="474" alt="image")
