section.start-section
  .wrapper
    .start-section__container
      img.start-section__img-left(src="images/start-section-img-left.png" loading="lazy" width="974" height="1586" alt="image")
      img.start-section__img-right(src="images/start-section-img-right.png" loading="lazy" width="646" height="1322" alt="image")
      h2.start-section__title.font-w-bold.font-s-42.text-up
        | Вы можете открыть бизнес в одном 
        br.no-br
        | из трех форматов
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__card-title.font-w-bold Mini
            img.start-section__card-img(src="images/start-section-card-img.png" loading="lazy" width="558" height="300" alt="image")
            .font-s-16
              | Получите описание формата и
              br
              | узнайте размер инвестиций
            form.start-section__form(data-feedback-form)
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
              input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
              button.btn(type="submit") получить
          .start-section__card.swiper-slide
            .start-section__card-title.font-w-bold Standart
            img.start-section__card-img(src="images/start-section-card-img.png" loading="lazy" width="558" height="300" alt="image")
            .font-s-16
              | Получите описание формата и
              br
              | узнайте размер инвестиций
            form.start-section__form(data-feedback-form)
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
              input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
              button.btn(type="submit") получить
          .start-section__card.swiper-slide
            .start-section__card-title.font-w-bold Maxi
            img.start-section__card-img(src="images/start-section-card-img.png" loading="lazy" width="558" height="300" alt="image")
            .font-s-16
              | Получите описание формата и
              br
              | узнайте размер инвестиций
            form.start-section__form(data-feedback-form)
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
              input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
              button.btn(type="submit") получить
        .bullet-pagination
