section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__img-left(src="images/steps-section-img-left.png" loading="lazy" width="522" height="1674" alt="image")
      img.steps-section__img-right(src="images/steps-section-img-right.png" loading="lazy" width="450" height="1788" alt="image")
      img.steps-section__img-center(src="images/steps-section-img-center.png" loading="lazy" width="108" height="138" alt="image")
      h2.steps-section__title.font-w-bold.font-s-42.text-up
        | 7 простых шагов для запуска 
        br.no-br
        | вашего бизнеса
      .steps-section__sub-title.font-s-20
        | Ознакомьтесь с ключевыми этапами совместной работы
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-1.png" loading="lazy" width="112" height="118" alt="icon")
            .font-s-20
              | Заключаем договор
              br
              | франшизы
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-2.png" loading="lazy" width="112" height="118" alt="icon")
            .font-s-20
              | Ищем помещение и
              br
              | подписываем договор аренды
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-3.png" loading="lazy" width="112" height="118" alt="icon")
            .font-s-20
              | Согласуем проектную
              br
              | документацию и документы
              br
              | по пожарной безопасности
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-4.png" loading="lazy" width="112" height="118" alt="icon")
            .font-s-20
              | Проводим ремонт и
              br
              | оформляем помещение
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-5.png" loading="lazy" width="112" height="118" alt="icon")
            .font-s-20
              | Осуществляем поиск
              br
              | персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-6.png" loading="lazy" width="112" height="118" alt="icon")
            .font-s-20
              | Проводим обучение
              br
              | персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-7.png" loading="lazy" width="112" height="118" alt="icon")
            .font-s-20
              | Открываем точку и начинаем
              br
              | зарабатывать
        .bullet-pagination
      .steps-section__bottom
        .font-w-bold.font-s-24.text-up
          | Работаем строго по 
          br.no-br
          | договору, в котором 
          br.no-br
          | описаны наши 
          br.no-br
          span.color-pink обязанности 
          | и все 
          br.no-br
          span.color-pink условия сотрудничества
        .steps-section__bottom-block
          img.steps-section__bottom-img(src="images/steps-section-bottom-img.png" loading="lazy" width="1186" height="1240" alt="image")
          button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
