section.support-section
  .wrapper
    .support-section__container
      img.support-section__img-left(src="images/support-section-img-left.png" loading="lazy" width="848" height="1386" alt="image")
      img.support-section__img-right(src="images/support-section-img-right.png" loading="lazy" width="490" height="1750" alt="image")
      h2.support-section__title.font-w-bold.font-s-42.text-up
        | Запустите собственный бизнес 
        br.no-br
        | вместе с нами
      .support-section__box
        .support-section__box-text
          .support-section__sub-title.font-s-20
            | Команда Черный кот поддержит вас на всех этапах
          .swiper-bullet
            .support-section__cards.swiper-wrapper
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/icon-star.png" loading="lazy" width="42" height="54" alt="icon")
                .font-s-20
                  | Обеспечим пошаговое становление бизнеса
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/icon-star.png" loading="lazy" width="42" height="54" alt="icon")
                .font-s-20
                  | Предоставим дистанционное обучение
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/icon-star.png" loading="lazy" width="42" height="54" alt="icon")
                .font-s-20
                  | Обучим очно (в пределах 2500 км от Оренбурга)
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/icon-star.png" loading="lazy" width="42" height="54" alt="icon")
                .font-s-20
                  | Проведем запуск бизнеса (в пределах 2500 км от Оренбурга)
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/icon-star.png" loading="lazy" width="42" height="54" alt="icon")
                .font-s-20
                  | Поможем с подбором помещения и контролем за монтажом 
                  br.no-br
                  | декораций (дистанционно)
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/icon-star.png" loading="lazy" width="42" height="54" alt="icon")
                .font-s-20
                  | Направим команду специалистов для проведения тестовых игр
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/icon-star.png" loading="lazy" width="42" height="54" alt="icon")
                .font-s-20
                  | Обучим специфике продаж
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/icon-star.png" loading="lazy" width="42" height="54" alt="icon")
                .font-s-20
                  | Добавим на официальный сайт
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/icon-star.png" loading="lazy" width="42" height="54" alt="icon")
                .font-s-20
                  | Обеспечим бухгалтерское сопровождение
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/icon-star.png" loading="lazy" width="42" height="54" alt="icon")
                .font-s-20
                  | Дадим любые консультации, касающиеся ведения бизнеса
            .bullet-pagination
        img.support-section__img(src="images/support-section-img.jpg" loading="lazy" width="760" height="892" alt="image")
      .support-section__bottom
        img.support-section__bottom-img(src="images/support-section-bottom-img.png" loading="lazy" width="734" height="650" alt="image")
        .font-w-bold.font-s-24.text-up
          | Получите 
          br.no-br
          span.color-pink подробный план 
          br.no-br
          | по открытию 
          br.no-br
          | ЧЕРНЫЙ КОТ
        form.support-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
          button.btn(type="submit") получить
