section.thanks-section
  .thanks-section__container
    h1.thanks-section__title.font-w-bold.font-s-42.text-up
      | НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
      | ВАШЕЙ ЗАЯВКОЙ
    p.thanks-section__inner-text.font-s-24.text-up
      | Мы свяжемся с Вами в ближайшее время
    a.btn(href="index.html") Вернуться на главную
