.header
  &__container
    display: flex
    justify-content space-between
    align-items: center
    letter-spacing: 0.6px

  &__brand-box
    +above($breakpoints.sm)
      display: flex
      align-items: flex-end
      gap: 20px
    +above($breakpoints.md)
      gap: 25px
    +above($breakpoints.xxl)
      gap: 32px

  &__brand
    display: none
    +above($breakpoints.sm)
      display: flex
      flex-direction: column
      gap: 1px
      margin-bottom 8px
    +above($breakpoints.md)
      margin-bottom 10px
    +above($breakpoints.xxl)
      margin-bottom 14px

  &__logo
    width 125px
    height: auto
    border-radius: 0 0 6px 6px
    +above($breakpoints.sm)
      width 200px
    +above($breakpoints.md)
      border-radius: 0 0 10px 10px
      width 260px
    +above($breakpoints.xxl)
      width 296px

  &__connection
    display: flex
    align-items: center
    gap: 8px
    +above($breakpoints.sm)
      margin-top 20px
      gap: 6px;
    +above($breakpoints.md)
      margin-top 30px
      gap: 8px;
    +above($breakpoints.xxl)
      margin-top 40px
      gap: 10px

  &__connection-icon
    width 10px
    height: 10px
    +above($breakpoints.md)
      width 11px
      height: 11px
    +above($breakpoints.xxl)
      width 12px
      height: 12px

  &__connection-icon-bg
    background-color #fff
    display: flex
    justify-content center
    align-items: center
    border-radius: 5px
    height: 16px
    width 16px
    +above($breakpoints.sm)
      border-radius: 6px
      height: 20px
      width 20px
    +above($breakpoints.md)
      border-radius: 8px
      height: 24px
      width 24px
    +above($breakpoints.xxl)
      border-radius: 10px
      height: 26px
      width 26px

  &__call-me
    display: none
    +above($breakpoints.sm)
      display: flex
